body.mostrando-modal {
  overflow: hidden; }

.btn.btn-secundario {
  background-color: #adadad; }

button:disabled,
button[disabled] {
  border: 1px solid #b3b3b3;
  background-color: #cccccc;
  color: #ffffff !important;
  box-shadow: none;
  text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
  cursor: not-allowed; }
  button:disabled:hover,
  button[disabled]:hover {
    border: 1px solid #b3b3b3;
    background-color: #cccccc;
    cursor: not-allowed;
    box-shadow: none;
    text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.25);
    opacity: 0.6; }

.oferta-navidad div {
  text-shadow: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#content .oferta-introduccion {
  font-size: 1rem;
  line-height: 1.5; }

#content .sticky-wrapper {
  margin: 0 -.5rem 1rem;
  z-index: 999 !important; }

#content .cesta {
  display: flex;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 6px 10px -7px rgba(0, 0, 0, 0.7);
  z-index: 999; }
  #content .cesta:hover {
    cursor: pointer;
    color: #63ae41;
    background-color: #f7f7f7; }
  #content .cesta span {
    padding: 1rem; }
  #content .cesta__icono {
    width: 24px;
    height: 24px; }
  #content .cesta__total-productos {
    font-size: 1rem; }
    #content .cesta__total-productos:before {
      content: '';
      display: inline-block;
      height: 16px;
      width: 22px;
      position: relative;
      bottom: -1px;
      margin-right: 12px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 21"><path fill="#999999" d="M17.399,6 L12.392,6 L10.58,7.812 C10.127,8.265 9.524,8.514 8.884,8.514 C8.242,8.514 7.64,8.264 7.186,7.811 C6.734,7.359 6.484,6.757 6.483,6.116 C6.483,6.077 6.493,6.039 6.494,6 L0.6,6 C0.268,6 0,6.268 0,6.6 L0,9 L18,9 L18,6.6 C18,6.268 17.73,6 17.399,6 Z M9.768,6.999 L14.823,1.944 C15.058,1.71 15.06,1.331 14.825,1.095 L13.905,0.175 C13.671,-0.059 13.291,-0.058 13.055,0.175 L8,5.231 C7.512,5.719 7.512,6.511 8,6.999 C8.488,7.486 9.279,7.487 9.768,6.999 Z M2.823,16.271 C2.92,16.672 3.338,17 3.75,17 L14.25,17 C14.662,17 15.08,16.672 15.177,16.271 L16.7,10 L1.3,10 L2.823,16.271 Z"/></svg>');
      background-repeat: no-repeat;
      background-position: top left; }
  #content .cesta__total-euros {
    font-size: 1rem;
    flex: 1;
    text-align: right; }
  #content .cesta__total-euros {
    font-size: 1rem;
    flex: 1;
    text-align: right;
    box-shadow: 0 1px #ddd; }
  #content .cesta__ver {
    font-size: .8rem;
    text-align: center;
    color: #63ae41; }

#content .lista-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #content .lista-productos li {
    list-style: none;
    width: calc(50% - .5rem); }
  #content .lista-productos--con-descripcion li {
    width: 100%; }

#content .categoria-productos {
  font-size: 16px;
  text-transform: uppercase;
  color: #63ae41;
  font-weight: 700;
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky; }

#content .producto {
  padding: .7rem .5rem;
  background: white;
  box-shadow: 0 6px 5px -7px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #ddd;
  position: relative; }
  #content .producto span,
  #content .producto a {
    display: block; }
  #content .producto > div {
    display: flex; }
  #content .producto__imagen {
    margin: .4rem .8rem 0 0;
    width: 100px;
    overflow: hidden; }
    #content .producto__imagen img {
      max-height: 100%;
      width: 162%;
      left: -34%;
      position: relative;
      top: 6px; }
  #content .producto__nombre {
    font-size: 16px;
    font-weight: 700; }
  #content .producto__datos {
    flex: 1;
    line-height: 26px; }
  #content .producto__nuevo {
    background-color: #E91E63;
    position: absolute;
    top: -2px;
    left: -2px;
    color: white;
    padding: 0 0.3rem;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 #d0d0d0;
    border-radius: 3px 0 3px 0;
    line-height: 19px; }
  #content .producto__tipo {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase; }
  #content .producto__proveedor {
    font-size: 14px;
    color: #7a7a7a; }
  #content .producto__enlace-descripcion {
    cursor: pointer; }
  #content .producto__precio {
    font-size: 16px;
    font-weight: 700; }
    #content .producto__precio:before {
      content: '';
      display: inline-block;
      height: 22px;
      width: 22px;
      position: relative;
      bottom: -5px;
      margin-right: 6px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="#BBBBBB" d="M19.388,0.405 C19.277,0.091 18.934,-0.075 18.619,0.034 C18.304,0.143 18.138,0.489 18.247,0.804 C19.176,3.474 17.332,5.468 15.926,6.536 L15.358,5.722 C15.167,5.449 14.74,5.222 14.408,5.218 L11.22,5.232 C10.888,5.226 10.395,5.378 10.123,5.57 L0.729,12.157 C0.274,12.477 0.164,13.104 0.482,13.561 L4.751,19.669 C5.071,20.124 5.582,20.069 6.038,19.751 L15.432,13.163 C15.702,12.972 16.014,12.56 16.124,12.245 L17.122,9.1 C17.232,8.786 17.165,8.307 16.974,8.034 L16.628,7.538 C18.516,6.091 20.476,3.534 19.388,0.405 Z M15.017,9.763 C14.29,10.273 13.286,10.095 12.777,9.367 C12.266,8.637 12.444,7.633 13.172,7.121 C13.75,6.716 14.5,6.745 15.04,7.138 C14.768,7.302 14.581,7.398 14.546,7.413 C14.245,7.556 14.116,7.917 14.258,8.218 C14.362,8.437 14.579,8.566 14.805,8.566 C14.891,8.566 14.979,8.546 15.062,8.507 C15.256,8.415 15.464,8.306 15.681,8.177 C15.778,8.771 15.542,9.394 15.017,9.763 Z"/></svg>');
      background-repeat: no-repeat;
      background-position: top left; }
  #content .producto__unidad {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: .5rem; }
  #content .producto__input {
    width: 32px;
    margin-right: 2px;
    text-align: center; }
  #content .producto__btn-anadir {
    min-width: 46px;
    margin-right: 2px; }
  #content .producto__btn-restar {
    min-width: 32px; }
  #content .producto__btn-anadir, #content .producto__btn-restar {
    line-height: 19px; }
  #content .producto--con-descripcion {
    padding: 1rem;
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
    border: none; }
    #content .producto--con-descripcion .producto__imagen {
      width: 200px; }
    #content .producto--con-descripcion__imagen {
      margin: .4rem .8rem 0 0;
      width: 100px; }
      #content .producto--con-descripcion__imagen img {
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        left: auto;
        position: static;
        top: auto; }

#content .resumen-cesta {
  background-color: white;
  padding: .5rem 0 0; }
  #content .resumen-cesta__titulo {
    font-size: 16px;
    display: block;
    text-align: left;
    padding: .5rem 1rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ddd; }
  #content .resumen-cesta__total {
    font-size: 1.5rem;
    text-align: right;
    padding: 0 1rem 1rem; }
    #content .resumen-cesta__total span {
      font-size: 1.25rem;
      color: #a9a9a9; }
  #content .resumen-cesta__acciones {
    text-align: right; }
    #content .resumen-cesta__acciones .btn-green {
      padding: .8rem;
      margin-bottom: 1rem;
      margin-right: 1rem; }
    #content .resumen-cesta__acciones a {
      display: block;
      background: #f5f5f5;
      text-align: right;
      padding: 0.9rem;
      cursor: pointer; }

#content .lista-productos-cesta {
  display: flex;
  flex-flow: column;
  margin-bottom: 0; }
  #content .lista-productos-cesta li {
    list-style: none;
    width: 100%; }

#content .producto-cesta {
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd; }
  #content .producto-cesta span,
  #content .producto-cesta a {
    display: block; }
  #content .producto-cesta > div {
    display: flex; }
  #content .producto-cesta__imagen {
    margin: 0 .8rem 0.8rem 0;
    width: 70px; }
    #content .producto-cesta__imagen img {
      max-height: 100%;
      max-width: 100%; }
  #content .producto-cesta__nombre {
    font-size: 15px;
    font-weight: 700; }
  #content .producto-cesta__datos-col {
    line-height: 20px; }
    #content .producto-cesta__datos-col-1 {
      width: 260px; }
    #content .producto-cesta__datos-col-2 {
      flex: 1;
      display: flex; }
      #content .producto-cesta__datos-col-2 > div:first-child {
        flex: 1;
        padding: 0 1rem; }
      #content .producto-cesta__datos-col-2 > div:last-child {
        font-size: 1rem;
        padding: 0 1rem 0;
        line-height: 40px; }
  #content .producto-cesta__tipo {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase; }
  #content .producto-cesta__proveedor {
    font-size: 12px;
    color: #7a7a7a; }
  #content .producto-cesta__enlace-descripcion {
    cursor: pointer; }
  #content .producto-cesta__precio {
    font-size: 12px;
    color: #5a5a5a; }
  #content .producto-cesta__unidad {
    font-size: 12px;
    color: #7a7a7a;
    margin-bottom: .5rem; }
  #content .producto-cesta__input {
    width: 28px;
    margin-right: 10px;
    text-align: center;
    float: left; }
  #content .producto-cesta__btn-anadir {
    min-width: 46px;
    margin-right: 2px; }
  #content .producto-cesta__btn-restar {
    min-width: 32px; }
  #content .producto-cesta__btn-anadir, #content .producto-cesta__btn-restar {
    line-height: 19px; }

#modal-cesta {
  width: 690px; }

#modal-descripcion {
  width: 400px; }

.modalDialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
  overflow: auto;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in; }

.modalDialog > div {
  width: 690px;
  position: relative;
  margin: 10% auto !important;
  border-radius: 3px;
  background-color: #fff; }

.cerrar {
  background: #333;
  color: #FFFFFF;
  border: 2px solid white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #000;
  z-index: 1; }
  .cerrar:hover {
    cursor: pointer;
    color: #FFFFFF;
    color: white;
    background-color: #63ae41;
    border: 2px solid white; }

@-webkit-keyframes flash-cesta {
  0% {
    background-color: white; }
  40% {
    background-color: #fff9c1; }
  80% {
    background-color: white; } }

.flash-cesta {
  -webkit-animation-name: flash-cesta;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: easeOutCubic; }

@keyframes flash-cesta {
  0% {
    background-color: white; }
  40% {
    background-color: #fff9c1; }
  80% {
    background-color: white; } }

.flash-cesta {
  animation-name: flash-cesta;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: easeOutCubic; }
