@charset "UTF-8";
.bottom-shadow, #content .wp-event, .formularios-inscripcion-not-logged {
  box-shadow: 0 6px 10px -7px rgba(0, 0, 0, 0.7); }

/* @group COLORS */
.green {
  background-color: #5eb935; }

.green:hover {
  background-color: #9ade52;
  /*Hover sobre fondo blanco*/ }

.green:hover {
  background-color: #9bed74;
  /*Hover sobre fondo negro*/ }

.green:hover {
  background-color: #4f8735;
  /*Cambio de background color*/ }

.greenDark {
  background-color: #396e00; }

/* @end */
/*
RECURSOS:
Avatares: http://brandonmathis.com/projects/fancy-avatars/demo/
*/
/* @group FONTS */
/*

/* Open Sans */
.proximanova,
body,
label, input, select, optgroup, option, textarea, button {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* Le Monde Courrier STD */
em,
h1, h2, h3, h4, h5, h6,
q,
blockquote,
cite,
.academicDataBlock .professionalTitle,
.introText,
.bookingFormErnio .table .reservedBy,
.paymentsTotal .details {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* @end */
/* @group Reset */
html {
  	/*This odd 100.01% value for the font size compensates for several browser bugs.
  First, setting a default body font size in percent (instead of em) eliminates an IE/Win problem with growing or shrinking fonts out of proportion if they are later set in ems in other elements.
  Additionally, some versions of Opera will draw a default font-size of 100% too small compared to other browsers.
  Safari, on the other hand, has a problem with a font-size of 101%.
  The current "best" suggestion is to use the 100.01% value for this property.*/
  font-size: 100.01%; }

html, body {
  margin: 0;
  padding: 0; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, q, cite, a, abbr, acronym, address, big, small, code, samp, var, tt, pre, del, ins, strike, dfn, kbd, em, strong, font, img, s, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: 100%;
  vertical-align: baseline; }

:link, :visited {
  text-decoration: none; }

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, pre, p, blockquote {
  margin: 0;
  padding: 0; }

dl, ul, ol {
  list-style: none;
  list-style-type: none; }

/* NOTA: tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover,
a:active,
a img,
:link img,
:visited img {
  border: none;
  /*outline: none;
  outline-style: none;*/ }

:focus {
  outline: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

pre, code, tt, samp {
  font-size: .875em; }

kbd {
  text-transform: uppercase; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

pre {
  white-space: pre; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* @end */
/* @group HTML elements */
body {
  background: white url(../img/body.gif);
  color: #222;
  font-size: 14px;
  line-height: 1.35; }

div, dl, dt, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, pre, p, blockquote, table, iframe {
  margin: 0 0 1.5em 0; }

fieldset {
  border: none; }

/* Aumentamos un poco el tamaño de las itálicas y los citas para que se ajuste a la altura del texto normal */
em, q {
  /*font-size: 1.125em;*/ }

/* @group headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0 0 .5em 0; }

h1 {
  border-bottom: 1px solid #ccc;
  border-top: 4px solid #ccc;
  font-size: 36px;
  margin: 0 0 .5em;
  padding: 10px 0;
  letter-spacing: -0.008em; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* @end */
a {
  color: #5eb935; }

a:hover {
  color: #9ade52; }

a acronym {
  cursor: pointer; }

acronym,
abbr {
  border-bottom: 1px dotted;
  cursor: help; }

pre {
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  overflow: auto;
  padding: 1em 0;
  width: 100%; }

/* @group q, bockquote, cite */
q,
blockquote {
  font-style: italic; }

blockquote {
  font-size: 1.5em;
  /*24px*/
  line-height: 1.25; }

q {
  padding: 0 .5em; }

cite {
  font-style: normal;
  font-weight: bold; }

/* STANDARD QUOTES */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:lang(sv) {
  quotes: '\201D' '\201D' '\2019' '\2019'; }

q:lang(da) {
  quotes: '\00BB' '\00AB' '\203A' '\2039'; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

/* SAFARI SUPPORT */
q:before {
  content: '\201C'; }

q:after {
  content: '\201D'; }

q q:before {
  content: '\2018'; }

q q:after {
  content: '\2019'; }

/* BLOCKQUOTES */
blockquote * {
  quotes: none; }

blockquote > *:before {
  content: '\201C'; }

blockquote > *:after {
  content: '\201D'; }

blockquote q:before {
  content: '\2018'; }

blockquote q:after {
  content: '\2019'; }

/* LANGUAGE-SPECIFIC QUOTES SAFARI STYLE */
*[lang~='da'] q:before, q[lang~='da']:before,
*[lang~='da'] blockquote > *:before, blockquote[lang~='da'] > *:before {
  content: '\201E'; }

*[lang~='da'] q:after, q[lang~='da']:after,
*[lang~='da'] blockquote > *:after, blockquote[lang~='da'] > *:after {
  content: '\201C'; }

*[lang~='da'] q q:before, q[lang~='da'] q:before,
*[lang~='da'] blockquote q:before, blockquote[lang~='da'] q:before {
  content: '\2019'; }

*[lang~='da'] q q:after, q[lang~='da'] q:after,
*[lang~='da'] blockquote q:after, blockquote[lang~='da'] q:after {
  content: '\2019'; }

*[lang~='sv'] q:before, q[lang~='sv']:before,
*[lang~='sv'] blockquote > *:before, blockquote[lang~='sv'] > *:before {
  content: '\201D'; }

*[lang~='sv'] q:after, q[lang~='sv']:after,
*[lang~='sv'] blockquote > *:after, blockquote[lang~='sv'] > *:after {
  content: '\201D'; }

*[lang~='sv'] q q:before, q[lang~='sv'] q:before,
*[lang~='sv'] blockquote q:before, blockquote[lang~='sv'] q:before {
  content: '\2019'; }

*[lang~='sv'] q q:after, q[lang~='sv'] q:after,
*[lang~='sv'] blockquote q:after, blockquote[lang~='sv'] q:after {
  content: '\2019'; }

/* @end */
kbd {
  background: #eee;
  border-top: .15em solid #ccc;
  border-right: .25em solid #aaa;
  border-bottom: .3em solid #888;
  border-left: .2em solid #bbb;
  color: #222;
  font-size: 1em;
  font-weight: normal;
  font-family: "Lucida console", Courier, monospace, sans-serif;
  line-height: 2;
  padding: .05em .2em; }

/* @group lists */
li {
  margin-bottom: 7px; }

dt {
  margin: 0; }

/* @end */
/* @group forms */
label, input, select, optgroup, option, textarea, button {
  font-size: 1em; }

legend {
  border-bottom: 1px solid #222;
  border-top: 3px solid #222;
  display: block;
  /*De fábrica es como si vienera con display-block.*/
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
  padding: 0;
  /*Para neutralizar el padding que trae de fábrica*/
  width: 100%;
  /*Para que coja todo el ancho es necesario*/ }

label,
span.label {
  display: inline-block;
  font-weight: 700;
  padding: .5em 0;
  vertical-align: top; }

label.clean {
  /*vertical-align: middle;*/ }

label.clean input {
  background: none;
  border: none;
  margin: 0 .313em 0 0;
  padding: 0;
  vertical-align: baseline;
  width: auto !important; }

input, select, optgroup, option, textarea {
  background-color: #fff; }

input,
textarea,
select {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  color: #999;
  display: inline-block;
  margin: 0;
  padding: .5em;
  vertical-align: baseline; }

input,
textarea {
  background-image: url(../img/input.png);
  background-position: left 1px;
  background-repeat: repeat-x; }

input:hover,
textarea:hover,
select:hover {
  -moz-box-shadow: 1px 1px 15px #f5f5f5 inset, -1px -1px 15px #f5f5f5 inset;
  -webkit-box-shadow: 1px 1px 15px #f5f5f5 inset, -1px -1px 15px #f5f5f5 inset;
  box-shadow: 1px 1px 15px #f5f5f5 inset, -1px -1px 15px #f5f5f5 inset;
  border: 1px solid #666;
  cursor: pointer; }

input:focus,
textarea:focus,
select:focus {
  -moz-box-shadow: 1px 1px 8px rgba(154, 222, 82, 0.25), -1px -1px 8px rgba(154, 222, 82, 0.25);
  -webkit-box-shadow: 1px 1px 8px rgba(154, 222, 82, 0.25), -1px -1px 8px rgba(154, 222, 82, 0.25);
  box-shadow: 1px 1px 8px rgba(154, 222, 82, 0.25), -1px -1px 8px rgba(154, 222, 82, 0.25);
  color: #333;
  border: 1px solid #5eb935;
  cursor: default; }

textarea {
  overflow: auto; }

optgroup {
  font-style: normal;
  padding: 0 1em; }

option {
  background: #fff;
  cursor: pointer;
  padding: 0 1em; }

/* @end */
/* @group tables */
/* @end */
/* @group Selection rules */
/* Selección general */
::-moz-selection {
  background: #e2f4c0;
  color: #222;
  text-shadow: none; }

::selection {
  background: #e2f4c0;
  color: #222;
  text-shadow: none; }

/* Selección de enlaces */
/*
a::-moz-selection {background: #e2f4c0;color: #222;}
a::selection {background: #e2f4c0;color: #222;}
*/
/* @end */
/* @end */
/* @group Components */
/* @group Layout */
#container {
  background: #f2f2f2 url(../img/container.gif);
  margin: 0 auto;
  padding: 0 30px;
  width: 930px; }

/* @group #header */
#header {
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #5eb935 url(../img/header.gif) no-repeat;
  border-bottom: 1px solid #ccc;
  color: #fff;
  position: relative; }

#header .logoCoiig {
  float: left;
  margin: 40px 60px 40px 40px; }

#header .logoCoiig a {
  background: url(../img/ingeniariak-logo.svg) no-repeat;
  height: 68px;
  width: 340px; }

/* @group .userBlock */
#header .userBlock {
  float: right;
  margin: 30px 40px 0 0;
  text-shadow: 1px 1px 1px #396e00;
  width: 430px; }

#header .username {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0; }

#header .userMenu {
  margin: 0 0 10px 0; }

#header .userMenu li {
  display: inline-block;
  margin: 0 4px 4px 0; }

#header .userMenu a {
  -moz-box-shadow: 0 0 4px #396e00 inset, 0 5px 10px #396e00 inset;
  -webkit-box-shadow: 0 0 4px #396e00 inset, 0 5px 10px #396e00 inset;
  box-shadow: 0 0 4px #396e00 inset, 0 5px 10px #396e00 inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #5ea13f;
  border: 1px solid #66c73a;
  color: #fff;
  display: inline-block;
  font-size: 700;
  padding: 7px 10px; }

#header .userMenu a:hover {
  -moz-box-shadow: 0 0 2px #2b5400 inset, 0 2px 6px #2b5400 inset;
  -webkit-box-shadow: 0 0 2px #2b5400 inset, 0 2px 6px #2b5400 inset;
  box-shadow: 0 0 2px #2b5400 inset, 0 2px 6px #2b5400 inset;
  background: #4f8735;
  border-color: #5eb935;
  color: #fff;
  text-shadow: 1px 1px 1px #2b5400; }

#header .userMenu a:active {
  position: relative;
  top: 1px; }

#header .closeSession {
  margin: 0 0 10px 0;
  text-transform: uppercase; }

#header .closeSession a {
  color: #fff;
  font-weight: 700; }

#header .closeSession a:hover {
  color: #9bed74; }

/* @end */
/* @group .lang */
.lang {
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 8px;
  position: absolute;
  right: -9px;
  text-transform: uppercase;
  top: 10px; }

.lang span.corner {
  background: url(../img/lang_corner.gif) no-repeat;
  bottom: -9px;
  height: 9px;
  position: absolute;
  right: 0;
  width: 9px; }

/* @end */
/* @end */
/* @group #menu */
#menu {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-weight: 700;
  padding: 14px 0; }

#menu .submenu {
  margin: 0; }

#menu .h {
  color: #fff;
  font-size: 24px;
  margin: 0; }

#menu .h span,
#menu .h a {
  -moz-box-shadow: 1px 1px 15px #396e00 inset, -1px -1px 5px #396e00 inset;
  -webkit-box-shadow: 1px 1px 15px #396e00 inset, -1px -1px 5px #396e00 inset;
  box-shadow: 1px 1px 15px #396e00 inset, -1px -1px 5px #396e00 inset;
  background: #5eb935 no-repeat 10px center;
  display: block;
  padding: 10px 10px 10px 40px;
  text-shadow: 1px 1px 1px #396e00;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden; }

#menu .hServices span, #menu .hServices a {
  background-image: url(../img/hServices.png); }

#menu .hCourses span, #menu .hCourses a {
  background-image: url(../img/hCourses.png); }

#menu .hEvents span, #menu .hEvents a {
  background-image: url(../img/hEvents.png); }

#menu .hOng span, #menu .hOng a {
  background-image: url(../img/hOng.png); }

#menu .hDocuments span, #menu .hDocuments a {
  background-image: url(../img/hDocuments.png); }

#menu .hOthers span, #menu .hOthers a {
  background-image: url(../img/hOthers.png); }

#menu .submenu a.h,
#menu .submenu .h a,
#menu .submenu a.title,
#menu .submenu .title a {
  color: #fff; }

#menu .submenu .h a {
  display: block; }

#menu .submenu a.title:hover,
#menu .submenu .title a:hover {
  color: #666; }

#menu .submenu a.h:hover,
#menu .submenu .h a:hover {
  background-color: #6dd43d; }

#menu .submenu .title {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 7px 13px; }

#menu .options {
  margin: 0; }

#menu .section {
  background: url(../img/menu_section.png) repeat-x left bottom;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  margin: 1px 0; }

#menu .section ul {
  margin: 0 0 5px 0;
  padding: 5px 0;
  text-shadow: 1px 1px 1px #000; }

#menu .section ul li {
  margin: 0; }

#menu .section a {
  display: block;
  padding: 3px 13px; }

#menu .section ul li a {
  background: url(../img/menu_section_a.png) no-repeat 8px center;
  padding: 3px 13px 3px 24px; }

/* @end */
/* @group #content */
#content {
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff; }

#content li {
  list-style: circle;
  list-style-type: circle;
  list-style-position: inside; }

/* @end */
/* @group #footer */
#footer {
  background: url(../img/footer.png) no-repeat;
  padding: 7px 0 30px 40px;
  text-align: center; }

#footer .title {
  font-weight: 700;
  margin: 0; }

#footer .address {
  margin: 0; }

#footer .address span {
  padding: 0 10px; }

/* @end */
/* @end */
/* @group Index */
/* @group .welcomeCard */
.welcomeCard {
  background: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 60px;
  padding: 20px 20px 0 200px;
  position: relative; }

.welcomeCard h1 {
  font-size: 24px;
  font-weight: 800; }

.welcomeCard .memberPhoto img {
  width: 120px; }

.welcomeCard .memberNum {
  margin: 0 0 10px 0; }

/* @end */
.coursesFeaturedThumbs {
  margin: 0; }

.featuredServicesBlock {
  padding-top: 10px !important; }

.featuredServiceThumbs {
  margin: 0; }

/* @group .serviceThumb */
.featuredServiceThumb {
  margin: 0 0 28px 0; }

.featuredServiceThumb .photo {
  float: left;
  margin: 0 20px 0 0;
  width: 80px; }

.featuredServiceThumb .main {
  float: left;
  margin: 0;
  width: 150px; }

.featuredServiceThumb .main h3 {
  font-size: 16px; }

.featuredServiceThumb .price {
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  margin: 0 0 5px 0;
  padding: 3px 0; }

.featuredServiceThumb .price strong {
  font-size: 16px;
  font-weight: 800; }

/* @end */
/* @group .paymentsBox */
.paymentsBox {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px 0;
  position: relative;
  text-shadow: none; }

.paymentsBox h2 {
  background: #222;
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 15px 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222; }

.paymentsBox .bullet-date {
  background: #ffc;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase; }

.paymentsBox .paymentBlock {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 20px 20px 0 20px; }

.paymentsBox .additional {
  border-bottom: none; }

.paymentsBox .tape {
  background: no-repeat;
  height: 69px;
  position: absolute;
  width: 69px; }

.paymentsBox .paymentsTotal {
  width: 80%; }

.paymentsBox .tape_tl {
  background-image: url(../img/tape_tl.png);
  top: -20px;
  left: -20px; }

.paymentsBox .tape_tr {
  background-image: url(../img/tape_tr.png);
  top: -20px;
  right: -20px; }

.paymentsBox .tape_bl {
  background-image: url(../img/tape_bl.png);
  bottom: -30px;
  left: -20px; }

.paymentsBox .tape_br {
  background-image: url(../img/tape_br.png);
  bottom: -30px;
  right: -20px; }

/* @end */
/* @end */
/* @group Datos personales */
/* @group .personalHeader */
.personalHeader {
  background: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 20px 20px 0 180px;
  position: relative; }

.personalHeader .memberPhoto img {
  width: 100px; }

/* @end */
/* @group .personalDataBlock */
.personalDataBlock .contactData .address {
  margin: 0 0 7px 0; }

/* @end */
/* @group .professionalDataBlock */
.professionalDataBlock h3 {
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  margin: 0 0 5px 0;
  padding: 0 0 3px 0;
  text-transform: uppercase; }

.professionalDataBlock .address {
  margin: 0 0 7px 0; }

/* @end */
/* @group .academicDataBlock */
.academicDataBlock .specialty {
  margin: 0; }

.academicDataBlock .professionalTitle {
  font-size: 18px;
  font-style: italic;
  margin: 0; }

/* @end */
/* @end */
/* @group Modificar datos personales */
/* @group .imageUpload */
.personalDataform .imageUpload {
  margin: 0 0 60px 0; }

.personalDataform .imageUpload .photo {
  -moz-box-shadow: 0 5px 5px #ccc, 0 1px 5px #ccc;
  -webkit-box-shadow: 0 5px 5px #ccc, 0 1px 5px #ccc;
  box-shadow: 0 5px 5px #ccc, 0 1px 5px #ccc;
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  margin: 0 20px 0 0;
  padding: 5px; }

.personalDataform .imageUpload .photo img {
  -moz-box-shadow: 0 0 10px #fff inset;
  -webkit-box-shadow: 0 0 10px #fff inset;
  box-shadow: 0 0 10px #fff inset;
  background: #f5f5f5;
  border: 1px solid #ddd;
  display: block;
  width: 96px; }

.personalDataform .imageUpload .main {
  float: left;
  margin: 0;
  width: 515px; }

.personalDataform .imageUpload .main p {
  margin: 0; }

.personalDataform .imageUpload .main .note {
  margin: 0 0 5px 0; }

.personalDataform .imageUpload .main label {
  vertical-align: middle; }

.personalDataform .imageUpload .main .btn {
  margin: 0; }

/* @end */
/* @group .contactData */
.personalDataform .contactData label,
.personalDataform .contactData .pseudolabel {
  width: 130px; }

.personalDataform .contactData input,
.personalDataform .contactData textarea {
  width: 300px; }

.personalDataform .contactData #cp {
  width: 100px; }

/* @end */
/* @group .bankData */
.personalDataform .bankData .bullet-bankAccount span {
  display: inline-block;
  vertical-align: middle; }

.personalDataform .bankData .bullet-bankAccount em {
  background: lightyellow;
  color: #333;
  font-style: normal;
  padding: 0 .15em;
  text-shadow: 1px 1px 0 #fff; }

/* @end */
/* @end */
/* @group Modificar datos profesionales */
.professionalDataform label {
  width: 100px; }

.professionalDataform input,
.professionalDataform textarea {
  width: 300px; }

.professionalDataform #cif {
  text-align: center;
  width: 100px; }

.professionalDataform #cp {
  text-align: center;
  width: 50px; }

.professionalDataform #phone {
  text-align: center;
  width: 100px; }

/* @end */
/* @group Modificar datos académicos */
.academicDataform label {
  width: 120px; }

.academicDataform input,
.academicDataform textarea {
  width: 430px; }

.schoolData label {
  width: 90px; }

.schoolData .pseudolabel {
  width: 150px; }

.additionalTitlesBlock {
  margin: 0 0 60px 0; }

.additionalTitlesBlock label {
  width: 100px; }

.additionalTitle {
  -moz-box-shadow: 0 1px 10px #bbb inset;
  -webkit-box-shadow: 0 1px 10px #bbb inset;
  box-shadow: 0 1px 10px #bbb inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #fff;
  padding: 15px 15px 1px 15px; }

.additionalTitle:hover {
  -moz-box-shadow: 0 1px 10px #bbb inset, 0 0 10px #9bed74;
  -webkit-box-shadow: 0 1px 10px #bbb inset, 0 0 10px #9bed74;
  box-shadow: 0 1px 10px #bbb inset, 0 0 10px #9bed74; }

/* @end */
/* @group Tus pagos */
.paymentThumb {
  width: 265px; }

/* @end */
/* @group Documentos */
.documentThumb {
  width: 265px; }

/*table thead tr {
    background: #5eb935;
    color: #fff;
    padding: 20px 10px 10px 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #396e00;
}

table tr td {
    padding: 10px 10px 10px 10px
}*/
/*----- Accordion -----*/
.accordion, .accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.accordion {
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: #f7f7f7; }

.accordion-section {
  margin-bottom: 0; }

/*----- Section Titles -----*/
.accordion-section-title {
  width: 100%;
  display: inline-block;
  background: #fff;
  color: #212121;
  font-size: 15px;
  margin: 0;
  padding: 12px 48px 12px 12px;
  border-bottom: 1px solid #ddd;
  position: relative;
  font-weight: bold; }

.accordion-section-title:hover {
  color: #333; }

.accordion-section-title:after {
  content: '+';
  display: inline-block;
  position: absolute;
  right: 12px;
  color: #5eb935; }

.accordion-section-title.active:after {
  content: '-'; }

.accordion-section-title:hover:after {
  color: #9ade52; }

.accordion-section-title.active, .accordion-section-title:hover {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd; }

.accordion-section:last-child .accordion-section-title {
  border-bottom: none; }

/*----- Section Content -----*/
.accordion-section-content {
  margin-bottom: 0;
  padding: 0;
  display: none; }

.accordion-section-content ul,
.accordion-section-content li {
  margin-bottom: 0; }

.accordion-section-content li {
  display: block; }

.accordion-section-content li a {
  margin: 0;
  padding: 10px 12px 10px 44px;
  display: block;
  border-bottom: 1px solid #ddd;
  color: #222;
  background: url(../img/icon-download-file.svg) 13px 11px no-repeat white;
  background-size: 2.2%; }

.accordion-section-content li a:hover {
  color: #333;
  font-weight: bold; }

.accordion-section-content li:last-child a {
  border-bottom: none; }

a .documento-nombre {
  color: #222; }

.accordion-as-list .accordion-section-title {
  cursor: default;
  display: none; }

.accordion-as-list .accordion-section-title:hover {
  background: #fff; }

.accordion-as-list .accordion-section-title:after {
  content: none; }

/* @end */
/* @group Visas */
.visaThumb {
  width: 310px; }

.visaThumb .status {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ff9;
  display: inline-block;
  margin-left: -20px;
  padding: 5px 10px 5px 20px; }

.visaThumb .description {
  margin: 0 0 10px 0; }

.visaThumb h3 {
  background: #5eb935;
  color: #fff;
  margin: -20px -20px 0 -20px;
  padding: 20px;
  text-shadow: 1px 1px 1px #396e00; }

/* @end */
/* @group Fees */
body .feeThumb .inner {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: white url(../img/feeThumb.png) repeat-x !important;
  padding: 35px 20px 20px 20px; }

/* @end */
/* @group Ernio */
/* @group .bookingFormErnio */
.bookingFormErnio .bookingData li {
  margin: 0 0 5px 0; }

.bookingFormErnio .bookingData #date {
  text-align: center;
  width: 5em; }

.bookingFormErnio .bookingData #people {
  text-align: center;
  width: 1.5em; }

/* @group .tableSelection */
.bookingFormErnio .tableSelection {
  margin: 0 0 10px 0; }

.bookingFormErnio .tables {
  background: white url(../img/tables.gif);
  border: 5px solid #ccc;
  font-size: 12px;
  height: 570px;
  position: relative; }

.bookingFormErnio .table {
  background: #dddddd url(../img/table.jpg);
  border: 3px solid #fff;
  height: 80px;
  margin: 0;
  padding: 20px 15px;
  position: absolute;
  text-align: center;
  width: 150px; }

.bookingFormErnio .table h3 {
  font-size: 16px;
  margin: 0; }

.bookingFormErnio .table p {
  margin: 0 0 5px 0; }

.bookingFormErnio .table .diners {
  font-size: 14px;
  font-weight: 700; }

.bookingFormErnio .tableHover {
  -moz-box-shadow: 0 0 15px #000 inset;
  -webkit-box-shadow: 0 0 15px #000 inset;
  box-shadow: 0 0 15px #000 inset;
  background: url(../img/tableHover.jpg);
  border-color: #9bed74;
  cursor: pointer; }

.bookingFormErnio .tableSelection .reserved {
  background: url(../img/tableHover.jpg); }

.bookingFormErnio .tableSelection .reservedHover {
  -moz-box-shadow: 0 0 20px #cc0000 !important;
  -webkit-box-shadow: 0 0 20px #cc0000 !important;
  box-shadow: 0 1px 20px #cc0000 !important;
  border-color: #cc0000 !important; }

.bookingFormErnio .tableSelection .reservedByUser {
  -moz-box-shadow: 0 0 50px #9bed74;
  -webkit-box-shadow: 0 0 50px #9bed74;
  box-shadow: 0 1px 50px #9bed74;
  border-color: #5eb935;
  cursor: pointer; }

/* @group .ribbon */
.bookingFormErnio .table .ribbon {
  background: no-repeat center center;
  display: block;
  height: 48px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 48px; }

.bookingFormErnio .tableHover .ribbon {
  background-image: url(../img/available_ribbon.png); }

.bookingFormErnio .reserved .ribbon {
  background-image: url(../img/reserved_ribbon.png); }

.bookingFormErnio .reservedHover .ribbon {
  background-image: url(../img/reservedHover_ribbon.png); }

.bookingFormErnio .reservedByOther .ribbon {
  background-image: url(../img/reservedByOther_ribbon.png); }

/* @end */
/* @group .status */
.bookingFormErnio .table .status {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ff9;
  display: inline-block;
  font-size: 11px;
  line-height: 1.15;
  margin: 0;
  padding: 5px;
  text-transform: uppercase; }

.bookingFormErnio .reservedHover .status,
.bookingFormErnio .tableHover .status {
  -moz-box-shadow: 0 1px 5px #000;
  -webkit-box-shadow: 0 1px 5px #000;
  box-shadow: 0 1px 5px #000;
  color: #fff;
  text-shadow: 1px 1px 1px #396e00; }

.bookingFormErnio .reservedHover .status {
  background: #c00; }

.bookingFormErnio .tableHover .status {
  background: #5eb935; }

/* @end */
/* @group Posición de las mesas */
.bookingFormErnio .table1,
.bookingFormErnio .table2,
.bookingFormErnio .table3 {
  right: 10px; }

.bookingFormErnio .table5,
.bookingFormErnio .table6,
.bookingFormErnio .table7 {
  left: 10px; }

.bookingFormErnio .table1,
.bookingFormErnio .table7 {
  top: 350px; }

.bookingFormErnio .table2,
.bookingFormErnio .table6 {
  top: 190px; }

.bookingFormErnio .table3,
.bookingFormErnio .table4,
.bookingFormErnio .table5 {
  top: 20px; }

.bookingFormErnio .table4 {
  left: 50%;
  margin-left: -95px; }

/* @end */
/* @group Otros elementos del comedor */
.bookingFormErnio .col {
  background: #fff;
  border: 1px solid #ccc;
  height: 20px;
  margin: 0;
  position: absolute;
  width: 20px; }

.bookingFormErnio .col1,
.bookingFormErnio .col2 {
  top: 158px; }

.bookingFormErnio .col1,
.bookingFormErnio .col3 {
  left: 200px; }

.bookingFormErnio .col2 {
  left: 415px; }

.bookingFormErnio .col3 {
  top: 324px; }

.bookingFormErnio .wc,
.bookingFormErnio .kitchen {
  background: #ccc no-repeat 50px 20px;
  bottom: 0;
  color: #999;
  font-weight: 700;
  margin: 0;
  padding: 30px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 200px; }

.bookingFormErnio .wc {
  background-image: url(../img/wc.png);
  left: 0; }

.bookingFormErnio .kitchen {
  background-image: url(../img/kitchen.png);
  right: 0; }

/* @end */
/* @end */
/* @end */
.bookingsBlock {
  border: 10px solid #fff; }

/* @end */
/* @group Salas */
.bookingFormRooms #date {
  text-align: center;
  width: 5em; }

.bookingFormRooms #people {
  text-align: center;
  width: 1.5em; }

.roomThumbs {
  border-top: 1px solid #ccc; }

.roomThumb {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  padding: 10px 0; }

.roomPhoto {
  margin-bottom: 0;
  text-align: center; }

.roomPhoto a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  padding: 10px;
  display: block; }

.roomPhoto a:hover {
  -moz-box-shadow: 0 1px 15px #666;
  -webkit-box-shadow: 0 1px 15px #666;
  box-shadow: 0 1px 15px #666;
  border-color: #666; }

.roomData {
  padding: 10px 0 0 0;
  margin-bottom: 0; }

.roomData .characteristics {
  margin: 0 0 10px 0; }

.roomData .choose {
  margin: 0; }

.roomData .choose label {
  font-weight: 700;
  text-transform: uppercase; }

/* @end */
/* @group Aparatos */
.toolsBlock {
  margin: 0; }

.toolThumbs {
  margin: 0; }

.toolThumb {
  background: #000;
  color: #fff;
  display: inline-block;
  margin: 0 30px 30px 0;
  padding: 4px;
  text-shadow: none;
  vertical-align: top;
  width: 300px; }

.toolThumb h2 {
  font-size: 18px; }

.toolThumb .photo {
  float: left;
  margin: 0 20px 0 0; }

.toolThumb .photo a {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  padding: 5px; }

.toolThumb .photo a img {
  background: #ddd;
  border: 1px solid #ccc;
  display: block;
  padding: 2px; }

.toolThumb .photo a:hover {
  background: none;
  border-color: #000; }

.toolThumb .photo a:hover img {
  background: #5eb935;
  border: 1px solid #333; }

.toolThumb .main {
  float: left;
  margin: 0;
  padding: 10px 0 0 0;
  width: 180px; }

.toolThumb .main .price {
  margin: 0; }

.toolThumb .main .price strong {
  display: block;
  font-size: 30px;
  font-weight: 800;
  line-height: 1; }

.toolPhoto {
  display: inline-block;
  position: relative; }

.toolPhoto .price {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  top: 16px;
  color: #fff;
  right: 16px;
  line-height: 1;
  padding: 10px;
  position: absolute;
  text-shadow: 1px 1px 1px #000; }

.toolPhoto .price span {
  display: block;
  text-transform: uppercase; }

.toolPhoto .price strong {
  display: block;
  font-size: 32px;
  font-weight: 800; }

/* @group .bookingFormTool */
.bookingFormTool label {
  width: 120px; }

.bookingFormTool #week1,
.bookingFormTool #week2 {
  text-align: center;
  width: 5em; }

.bookingFormTool button {
  margin-left: 137px; }

/* @end */
.toolRentingThumb {
  border-top: 10px solid #5eb935;
  padding: 20px 20px 1px 20px; }

.pendingRentalTools {
  border-top: 1px dotted #666; }

.pendingRentalTool {
  border-bottom: 1px dotted #666;
  margin: 0;
  padding: 8px; }

#content .pendingRentalTool {
  list-style: none !important;
  list-style-type: none !important; }

.pendingRentalTool a {
  font-weight: 700; }

/* @end */
/* @group Seguros */
.purchasedInsurancesBlock {
  margin: 0 0 60px 0; }

.purchasedInsurancesBlock h2 {
  font-weight: 400; }

.purchasedInsurancesThumbs {
  border-top: 1px dotted #666; }

.purchasedInsurancesThumb {
  border-bottom: 1px dotted #666;
  margin: 0;
  padding: 8px; }

#content .purchasedInsurancesThumb {
  list-style: none !important;
  list-style-type: none !important; }

.purchasedInsurancesThumb a {
  font-weight: 700; }

.insuranceThumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  padding: 20px;
  width: 270px; }

.insuranceThumb h3 {
  margin: 0 0 10px 0; }

.insuranceThumb h3 a {
  background: #5eb935;
  color: #fff;
  display: block;
  font-size: 21px;
  margin: 0 -20px;
  padding: 10px 20px;
  text-shadow: none; }

.insuranceThumb h3 a:hover {
  background: #4f8735; }

.insuranceThumb .description {
  margin: 0; }

.insuranceThumb .fromPrice {
  margin: 0; }

.insuranceInscriptionForm label {
  width: 150px; }

.insuranceInscriptionForm button {
  margin-left: 170px; }

.servicesPurchased li {
  padding: 10px 120px 10px 0;
  position: relative; }

.servicesPurchased li .btn {
  position: absolute;
  right: 0;
  top: 0; }

.servicesBlock {
  border: 10px solid #fff; }

.servicesBlock h3 {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 15px 10px;
  text-align: center; }

.serviceThumbs {
  margin: 0; }

.serviceThumb {
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  width: 300px; }

.serviceThumb .photo {
  float: left;
  margin: 0 20px 0 0; }

.serviceThumb .main {
  float: left;
  margin: 0;
  width: 200px; }

.serviceThumb .price {
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  margin: 0 0 5px 0;
  padding: 3px 0; }

.serviceThumb .price strong {
  font-size: 16px;
  font-weight: 800; }

/* @end */
/* @group Suscripciones */
.purchasedSubscriptionsBlock {
  margin: 0 0 60px 0; }

.purchasedSubscriptionsBlock h2 {
  font-weight: 400; }

.purchasedSubscriptionsThumbs {
  border-top: 1px dotted #666; }

.purchasedSubscriptionsThumb {
  border-bottom: 1px dotted #666;
  margin: 0;
  padding: 8px; }

#content .purchasedSubscriptionsThumb {
  list-style: none !important;
  list-style-type: none !important; }

.subscriptionThumb,
.ongThumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  padding: 20px 20px 1px 20px;
  width: 270px; }

.subscriptionThumb h3,
.ongThumb h3 {
  background: #5eb935;
  color: #fff;
  display: block;
  font-size: 21px;
  margin: 0 -20px 10px -20px;
  padding: 10px 20px;
  text-shadow: none; }

.subscriptionThumb .action span,
.ongThumb .action span {
  font-size: 30px;
  font-weight: 800;
  vertical-align: middle; }

.subscriptionThumb .action a,
.ongThumb .action a {
  margin: 0 0 0 10px;
  vertical-align: middle; }

.subscriptionData .bigPrice {
  margin: 0; }

/* @end */
/* @group ONG */
.collaborationsBlock h2 {
  font-weight: 400; }

.donationThumb,
.collaborationThumb {
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  width: 310px; }

.donationThumb .bullet-date {
  margin: 0 0 10px 0; }

.donationThumb .price,
.collaborationThumb .price {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.donationThumb .price span,
.collaborationThumb .price span {
  text-transform: uppercase;
  vertical-align: middle; }

.donationThumb .price strong,
.collaborationThumb .price strong {
  font-size: 32px;
  font-weight: 800;
  vertical-align: middle; }

.collaborationForm .bigPrice {
  margin: 0; }

/* @end */
/* @group Login y Olvidaste contraseña */
.loginBox,
.forgotPasswordBox {
  background: white url(../img/loginBox.png) no-repeat left -150px;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #5eb935;
  margin: 0 auto;
  padding: 20px 20px 1px 20px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 400px; }

.loginBox h1,
.forgotPasswordBox h1 {
  border: none;
  font-size: 32px;
  text-align: center; }

.loginBox .forgotPass {
  font-weight: 700;
  margin-left: 165px; }

.loginForm label {
  width: 100px; }

.loginForm input,
.loginForm textarea {
  width: 200px; }

.forgotPasswordForm label {
  width: 115px; }

.forgotPasswordForm input,
.forgotPasswordForm textarea {
  width: 150px; }

.loginForm button {
  margin-left: 167px; }

/* @end */
/* @group Common */
/* @group .bankData */
.bankData .bullet-bankAccount span {
  display: block;
  font-size: 20px;
  font-weight: 100;
  line-height: 1; }

/* @end */
/* @group .paymentsTotal */
.paymentsTotal {
  -moz-box-shadow: 0 1px 15px #ccc inset;
  -webkit-box-shadow: 0 1px 15px #ccc inset;
  box-shadow: 0 1px 15px #ccc inset;
  background: #f5f5f5;
  border-top: 3px solid #999;
  margin: 0 auto 10px auto;
  padding: 15px; }

.paymentsTotal strong {
  display: block;
  font-size: 60px;
  font-weight: 800;
  line-height: 1; }

.paymentsTotal strong span {
  font-size: 30px;
  font-weight: 100; }

.paymentsTotal .details {
  border-bottom: 1px dotted #aaa;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px 0;
  padding-bottom: 10px; }

/* @end */
/* @group .memberPhoto */
.memberPhoto {
  left: 20px;
  position: absolute;
  top: -10px; }

.memberPhoto img {
  -moz-box-shadow: 0 5px 5px #ccc, 0 1px 5px #ccc;
  -webkit-box-shadow: 0 5px 5px #ccc, 0 1px 5px #ccc;
  box-shadow: 0 5px 5px #ccc, 0 1px 5px #ccc;
  background: #fff;
  display: block;
  border: 1px solid #ccc;
  padding: 10px; }

/* @end */
/* @group .panel */
.panelTitle {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #222222 url(../img/panelTitle.png) repeat-x left bottom;
  border-bottom: 3px solid #ccc;
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
  text-shadow: 1px 1px 1px #000; }

.panelCont {
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: white url(../img/panelCont.png) repeat-x 0 -10px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 20px 20px 0 20px; }

/* @end */
/* @group .fieldset */
.fieldset {
  margin: 0 0 50px 0; }

.fieldsetTitle {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #333;
  border-left: 5px solid #5eb935;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: .5em .75em;
  text-shadow: 1px 1px 1px #000; }

.fieldset .fieldset .fieldsetTitle {
  border-left: none;
  border-top: 4px solid #5eb935;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase; }

.fieldsetCont {
  -moz-box-shadow: 0 0 1px #fff, 0 0 25px #fff inset;
  -webkit-box-shadow: 0 0 1px #fff, 0 0 25px #fff inset;
  box-shadow: 0 0 1px #fff, 0 0 25px #fff inset;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 20px 20px 1px 20px; }

/* @end */
/* @group .confirmation */
.confirmation .title {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #222;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-transform: uppercase; }

.confirmation .courseData {
  margin: 0; }

/* @end */
/* @group .formActions */
/* Acciones al final de un form con bontones de Confirmar (o Guardar) y Cancelar */
.formActions a.bullet-cancel {
  margin-left: 20px; }

/* @end */
/* @group .reportsBlock */
.reportsBlock {
  background: black url(../img/wood.jpg);
  border: 5px solid #ccc; }

.reportsBlock h2 {
  background: #5eb935;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #396e00; }

.reportsBlock .paymentsTotal {
  margin: 0;
  text-align: center; }

.reportThumbs {
  margin: 0;
  padding: 15px 0;
  text-align: center; }

/* @group .reportThumb */
.reportThumb {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 15px #000;
  -webkit-box-shadow: 0 1px 15px #000;
  box-shadow: 0 1px 15px #000;
  display: inline-block;
  margin: 10px;
  text-align: left;
  vertical-align: top;
  width: 310px; }

.reportThumb .category {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-shadow: none; }

.reportThumb .category a {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #5eb935;
  border-bottom: 3px solid #ddd;
  color: #fff;
  display: block;
  padding: 10px 20px; }

.reportThumb .category a:hover {
  background-color: #4f8735;
  color: #fff; }

.reportThumb .inner {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  background: #fff;
  margin: 0;
  padding: 20px; }

.reportbyCategoryThumb .inner {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.reportThumb h3 {
  font-size: 20px; }

.reportThumb .meta {
  margin: 0 0 10px 0; }

.reportThumb .download {
  display: inline-block;
  margin: 0;
  text-shadow: 1px 1px 1px #fff; }

.reportThumb .download a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ddffce;
  background-position: 10px 12px;
  display: block;
  margin: 0;
  padding: 10px 10px 10px 33px;
  text-shadow: 1px 1px 1px #fff; }

.reportThumb .download a:hover {
  background-color: #f5f5f5; }

/* @end */
/* @end */
/* @group .datePagination */
.datePagination {
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  font-size: 18px;
  padding: 10px 0; }

.datePagination p {
  margin: 0; }

.datePagination .prev {
  float: left; }

.datePagination .next {
  float: right; }

/* @end */
/* @group .periodSelector */
/* Form para seleccionar un período de tiempo. Superclase de .monthSelector y .yearSelector */
.periodSelector {
  -moz-box-shadow: 0 1px 15px #000 inset;
  -webkit-box-shadow: 0 1px 15px #000 inset;
  box-shadow: 0 1px 15px #000 inset;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  padding: 15px;
  text-shadow: none; }

.periodSelector p {
  margin: 0;
  text-align: center; }

.periodSelector select {
  margin: 0 20px 0 0; }

.periodSelector button {
  margin: 0; }

/* @group .monthSelector */
/* @end */
/* @group .yearSelector */
/* @end */
/* @end */
/* @group Lightbox */
.jquery-lightbox-html,
.jquery-lightbox-background,
.jquery-lightbox {
  margin: 0; }

.jquery-lightbox {
  -moz-box-shadow: 0 0 20px #5eb935;
  -webkit-box-shadow: 0 0 20px #5eb935;
  box-shadow: 0 0 20px #5eb935;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

/* @end */
/* @group .pendingRentals */
.pendingRentalsBlock h2 {
  font-weight: 400; }

.pendingRentals {
  margin: 0; }

.pendingRental h3 {
  font-size: 18px; }

/* @end */
/* @group Pending Rooms & Bookings (Ernio) */
.pendingRentalRoomsBlock h2,
.pendingBookingsBlock h2 {
  font-weight: 400;
  text-align: center; }

.pendingRentalRoom, .pendingBooking {
  display: inline-block;
  margin: 15px;
  width: 310px; }

/* @end */
/* @group .bookingsBlock / .roomRentingsBlock / .toolRentingsBlock */
.bookingsBlock,
.roomRentingsBlock,
.toolRentingsBlock,
.eventsBlock,
.coursesBlock {
  border: 10px solid #fff; }

.bookingsBlock .empty,
.roomRentingsBlock .empty,
.toolRentingsBlock .empty,
.eventsBlock .empty,
.coursesBlock .empty,
.servicesBlock .empty {
  display: block;
  margin: 0 auto 5px auto;
  text-align: center;
  width: 400px; }

.bookingsBlock h3,
.roomRentingsBlock h3,
.toolRentingsBlock h3,
.eventsBlock h2,
.coursesBlock h2 {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 15px 10px;
  text-align: center; }

.bookingsBlock .paymentsTotal,
.roomRentingsBlock .paymentsTotal,
.toolRentingsBlock .paymentsTotal {
  margin: 0;
  text-align: center; }

.bookingThumbs,
.roomRentingThumbs,
.toolRentingThumbs,
.eventThumbs,
.courseThumbs {
  text-align: center; }

.bookingThumb,
.roomRentingThumb,
.toolRentingThumb,
.eventThumb,
.courseThumb {
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin: 10px;
  padding: 50px 20px 1px 20px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 270px; }

.bookingThumb .date,
.roomRentingThumb .date,
.toolRentingThumb .date {
  background: #5eb935;
  border: 5px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  left: -5px;
  padding: 8px;
  position: absolute;
  text-transform: uppercase;
  text-shadow: none;
  top: -5px; }

/* @end */
/* @group .fromPrice */
.fromPrice span,
.fromPrice strong {
  vertical-align: middle; }

.fromPrice span {
  text-transform: uppercase; }

.fromPrice strong {
  font-size: 32px;
  font-weight: 800; }

/* @end */
.bigPrice {
  font-size: 32px;
  font-weight: 800; }

/* @end */
/* @end */
/* @group Styles by pages */
/* @end */
/* @group Grid */
/*
Grid de La Personnalité
-----------------------
Basado en: http://www.webdesignerwall.com/demo/simpler-grid/940grid.html
Nº de columnas: 12
Ancho contenedor: 990px
Ancho columna: 50px
Gutter width: 30px
*/
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
  float: left;
  display: inline;
  margin-left: 30px; }

/*
.gridN: elemento de grid con un ancho de columna equivalente a N.
.wN: clase empleada para dar un ancho de columna N a un elemento. Por ejemplo, puede usarse para dar ancho a un label.
*/
.grid1, .w1 {
  width: 50px;
  /*50px*/ }

.grid2, .w2 {
  width: 130px;
  /*130px*/ }

.grid3, .w3 {
  width: 210px;
  /*210px*/ }

.grid4, .w4 {
  width: 290px;
  /*290px*/ }

.grid5, .w5 {
  width: 370px;
  /*370px*/ }

.grid6, .w6 {
  width: 450px;
  /*450px*/ }

.grid7, .w7 {
  width: 530px;
  /*530px*/ }

.grid8, .w8 {
  width: 610px;
  /*610px*/ }

.grid9, .w9 {
  width: 690px;
  /*690px*/ }

.grid10, .w10 {
  width: 770px;
  /*770px*/ }

.grid11, .w11 {
  width: 850px;
  /*850px*/ }

.grid12, .w12 {
  width: 930px;
  /*930px*/ }

/* Primera columna*/
.grid-first {
  margin-left: 0;
  clear: left; }

/* No mover columna / Mover columna un gutter a la izquierda / Mover columna un gutter a derecha */
.grid-mg-zero {
  margin-left: 0; }

.grid-mg-l {
  margin-left: -30px; }

.grid-mg-r {
  margin-left: 0;
  margin-right: -30px; }

/* Mover columna hasta la siguiente columna */
.grid-mc-r {
  margin-left: 110px;
  /*110px*/ }

.grid-mc-r2 {
  margin-left: 190px;
  /*190px*/ }

.grid-mc-r3 {
  margin-left: 270px;
  /*270px*/ }

/* Padding de columna */
.grid-pad-lr {
  padding-left: 30px;
  padding-right: 30px;
  /*30px*/ }

.grid-pad-lr-half {
  padding-left: 15px;
  padding-right: 15px;
  /*15px*/ }

.grid-pad-l {
  padding-left: 30px;
  /*30px*/ }

.grid-pad-r {
  padding-right: 30px;
  /*30px*/ }

/* Coge los gutters laterales. Se le puede aplicar el padding o paddings laterales que nos apetezca que funciona a la perfección */
.grid-expand {
  margin-left: -30px;
  margin-right: -30px; }

.grid-expand-pad {
  margin-left: -30px;
  margin-right: -30px;
  padding: 0 30px; }

/* @group Grid en IE6 */
/*
IE6 no interpreta bien los anchos (problema de interpretación del modelo de caja de CSS).
Quitamos padding, margins y demás.
http://www.torresburriel.com/box-model-hack.html
http://www.456bereastreet.com/archive/200612/internet_explorer_and_the_css_box_model/
http://css-discuss.incutio.com/wiki/Box_Model_Hack
*/
html.ie6 .grid-mg-zero,
html.ie6 .grid-mg-l,
html.ie6 .grid-mg-r,
html.ie6 .grid-mc-r1,
html.ie6 .grid-mc-r2,
html.ie6 .grid-mc-r3 {
  margin-left: 30px; }

html.ie6 .grid-mg-r {
  margin-right: 0; }

html.ie6 .grid-first {
  margin-left: 0; }

html.ie6 .grid-pad-lr,
html.ie6 .grid-pad-lr-half,
html.ie6 .grid-pad-l,
html.ie6 .grid-pad-r {
  padding: 0; }

html.ie6 .grid-expand {
  margin-left: 0;
  margin-right: 0; }

html.ie6 .grid-expand-pad {
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

/* @end */
/* NOTE: the following styles are for demo purpose (not required). Apply .showGrid class to <body> to colorize grid elements. */
body.showGrid .grid1,
body.showGrid .grid2,
body.showGrid .grid3,
body.showGrid .grid4,
body.showGrid .grid5,
body.showGrid .grid6,
body.showGrid .grid7,
body.showGrid .grid8,
body.showGrid .grid9,
body.showGrid .grid10,
body.showGrid .grid11 {
  background: rgba(255, 0, 0, 0.2); }

body.showGrid .grid-mg-l {
  background: rgba(0, 0, 255, 0.25); }

body.showGrid .grid-mg-r {
  background: rgba(255, 0, 255, 0.25); }

body.showGrid #container {
  background: white url(../img/grid.png) repeat-y center top; }

/* @end */
/* @group Classes */
/* @group Lists */
/* Bullets para listados */
ul.basic li {
  background: url("../img/bullets/basic.png") no-repeat left 0.45em;
  padding-left: 17px; }

/* @group .line */
/* clase para que el dt y el dd van en la misma línea */
dl.line dt {
  clear: both;
  float: left;
  margin: 0 .25em 0 0; }

/* @end */
/* Lista de datos */
.meta li {
  margin: 0 0 3px 0; }

/* @end */
/* @group Checkbox limpio */
label.clean {
  font-weight: 400;
  margin-right: 0;
  vertical-align: middle;
  width: auto !important; }

label.clean input {
  background: none;
  border: none;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: baseline;
  width: auto !important; }

/* @end */
/* Es un elemento que hace de label en datos que no son modificables por parte del usuario */
.pseudolabel {
  display: inline-block;
  vertical-align: middle; }

/* Formato y peso de archivo */
.filemeta {
  color: #333;
  font-weight: normal; }

a:hover .filemeta {
  color: #999; }

.asterisk {
  color: #c00;
  font-weight: 700;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff, 0 0 10px #f30; }

/* Marco para foto tipo Poladoid */
.polaroid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15), 0 0 5px #cccccc inset;
  -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15), 0 0 5px #cccccc inset;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15), 0 0 5px #cccccc inset;
  background: #fff;
  border: 1px solid #aaa;
  display: inline-block;
  margin: 0 0 21px 0;
  padding: 10px; }

.acceptTerms label, .acceptTerms a {
  vertical-align: middle; }

/* Entradilla */
.introText {
  font-size: 24px;
  font-style: italic;
  line-height: 1.2; }

/* @group .note */
.note,
.example,
.ok,
.error {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: no-repeat .5em .35em;
  display: inline-block;
  padding: 5px 8px 5px 30px;
  text-shadow: 1px 1px 1px #fff;
  vertical-align: middle; }

.note {
  -moz-box-shadow: 0 0 10px #fff inset, 0 0 10px #fff inset, 0 0 10px #fff inset, 0 1px 5px #bbb;
  -webkit-box-shadow: 0 0 10px #fff inset, 0 1px 5px #bbb;
  box-shadow: 0 0 10px #fff inset, 0 1px 5px #bbb;
  background-color: #ff9;
  background-image: url(../img/bullets/sticky-note-text.png);
  border: 1px solid #bb6;
  color: #6f6132; }

.label .tinyNote {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffff99 url(../img/bullets/sticky-note-text.png) no-repeat 4px 4px;
  border-bottom: 1px solid #ccc;
  padding: 3px 6px 3px 24px; }

.example {
  -moz-box-shadow: 0 0 5px #9db944 inset, 0 1px 5px #fff;
  -webkit-box-shadow: 0 0 5px #9db944 inset, 0 1px 5px #fff;
  box-shadow: 0 0 5px #9db944 inset, 0 1px 5px #fff;
  background-color: #d0ee71;
  background-image: url(../img/bullets/ui-address-bar-green.png);
  border: 1px solid #9db944;
  font-size: 12px; }

.ok {
  -moz-box-shadow: 0 0 5px #9db944 inset, 0 1px 5px #fff;
  -webkit-box-shadow: 0 0 5px #9db944 inset, 0 1px 5px #fff;
  box-shadow: 0 0 5px #9db944 inset, 0 1px 5px #fff;
  background-color: #c5e593;
  background-image: url(../img/bullets/tick.png);
  border: 1px solid #7d9f46;
  color: #4a671a;
  font-size: 16;
  font-weight: 700; }

.error {
  -moz-box-shadow: 0 0 5px #ba4d45 inset, 0 1px 5px #fff;
  -webkit-box-shadow: 0 0 5px #ba4d45 inset, 0 1px 5px #fff;
  box-shadow: 0 0 5px #ba4d45 inset, 0 1px 5px #fff;
  background-color: #ffcac6;
  background-image: url(../img/bullets/error.png);
  border: 1px solid #9e5946;
  color: #a00;
  font-size: 16;
  font-weight: 700; }

.note .title,
.example .title {
  font-weight: 700;
  text-transform: uppercase; }

/* @end */
/*Blank Slate*/
.empty {
  -moz-box-shadow: 0 0 10px #fff inset, 0 0 10px #fff inset, 0 0 10px #fff inset, 0 1px 5px #bbb inset;
  -webkit-box-shadow: 0 0 10px #fff inset, 0 1px 5px #bbb inset;
  box-shadow: 0 0 10px #fff inset, 0 1px 5px #bbb inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white url(../img/bullets/exclamation.png) no-repeat 0.5em 0.25em;
  border: 1px solid #aaa;
  display: inline-block;
  font-size: 18px;
  padding: .5em 1em .5em 50px;
  text-shadow: 1px 1px 1px #fff;
  vertical-align: middle; }

/* @group .box */
.box {
  -moz-box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 40px 20px 0 20px;
  position: relative; }

#content .box {
  text-shadow: none; }

.box .boxTitle {
  background: #5eb935;
  color: #fff;
  font-size: 12px;
  left: -9px;
  padding: 8px;
  position: absolute;
  text-shadow: 1px 1px 1px #396e00;
  text-transform: uppercase;
  top: -8px; }

.box .boxTitle span {
  background: url(../img/boxTitle_span.gif) no-repeat;
  bottom: -8px;
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  width: 9px; }

.box h3 {
  font-size: 20px; }

/* @end */
/* @group .fold */
/*
Aplica una pequeña doblez en una esquina del elemento en aquellos navegadores que lo permiten.
http://nicolasgallagher.com/pure-css-folded-corner-effect/
*/
.fold {
  -webkit-border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
  overflow: hidden;
  position: relative; }

.fold:before {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #9ade52;
  border-color: #000 #000 #9ade52 #9ade52;
  border-style: solid;
  border-width: 8px;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 0;
  /* Firefox 3.0 damage limitation */ }

/* @end */
/* @group Button System */
/* @group Button: base */
.btn, .btn:visited {
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.5) inset, -1px -1px 12px rgba(0, 0, 0, 0.5) inset, 0 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.5) inset, -1px -1px 12px rgba(0, 0, 0, 0.5) inset, 0 3px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.5) inset, -1px -1px 12px rgba(0, 0, 0, 0.5) inset, 0 3px 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url("../img/btn.png") repeat-x;
  border: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.5);
  border-top-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
  overflow: visible;
  padding: 10px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto; }

.btn, .btn:hover, .btn:visited {
  color: white !important; }

button.btn, button.btn:visited {
  padding: 7px 10px; }

.btn span {
  background: no-repeat left center;
  display: inline-block;
  padding-left: 26px; }

a.btn:hover,
button.btn:hover {
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.5) inset, -1px -1px 12px rgba(0, 0, 0, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.5) inset, -1px -1px 12px rgba(0, 0, 0, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.5) inset, -1px -1px 12px rgba(0, 0, 0, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
  background-position: 0 10%;
  border: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.5);
  border-top-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.25); }

a.btn:active,
button.btn:active {
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, -1px -1px 6px rgba(0, 0, 0, 0.25) inset, 0 0 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, -1px -1px 6px rgba(0, 0, 0, 0.25) inset, 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, -1px -1px 6px rgba(0, 0, 0, 0.25) inset, 0 0 3px rgba(0, 0, 0, 0.25);
  top: 1px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25), 1px 1px 1px rgba(0, 0, 0, 0.25); }

/* @end */
/* @group Button: colors */
/* @group Green */
.btn-green,
.btn-green:visited {
  background-color: #5eb935; }

.btn-green:hover {
  background-color: #6dd43d; }

/* @end */
/* @end */
/* @group Button: icons */
.btn-send span {
  background-image: url("../img/btn-send.png"); }

/* @end */
/* Listado con botones */
.btn-list li {
  display: inline-block;
  margin: 0 .25em 0 0; }

table .btn {
  margin-bottom: 0; }

/* @end */
/* @group .bullet */
.bullet,
.bullet-list li {
  background: no-repeat 0 0;
  padding-left: 21px; }

#content .bullet,
#content .bullet-list li {
  list-style: none;
  list-style-type: none; }

#content .meta li {
  list-style: none !important;
  list-style-type: none !important; }

.bullet-more,
.bullet-more-list li {
  background-image: url("../img/bullets/plus-circle.png");
  font-weight: 700;
  text-transform: uppercase; }

.bullet-plus,
.bullet-plus-list li {
  background-image: url("../img/bullets/plus-button.png");
  font-weight: 700; }

.bullet-minus,
.bullet-minus-list li {
  background-image: url("../img/bullets/minus-button.png");
  color: #a00;
  font-weight: 700; }

.bullet-cancel,
.bullet-cancel-list li {
  background-image: url("../img/bullets/cross.png");
  color: #a00;
  font-weight: 700; }

a.bullet-cancel:hover,
a.bullet-minus:hover {
  color: #d00; }

.bullet-ok,
.bullet-ok-list li {
  background-image: url("../img/bullets/tick.png");
  font-weight: 700; }

.bullet-date,
.bullet-date-list li {
  background-image: url("../img/bullets/calendar-day.png"); }

.bullet-courses,
.bullet-courses-list li {
  background-image: url("../img/bullets/book-open.png"); }

.bullet-schedule,
.bullet-schedule-list li {
  background-image: url("../img/bullets/calendar-medium.png"); }

.bullet-location,
.bullet-location-list li {
  background-image: url("../img/bullets/map-pin.png"); }

.bullet-price,
.bullet-price-list li {
  background-image: url("../img/bullets/price.png"); }

.bullet-invoiceTo,
.bullet-invoiceTo-list li {
  background-image: url("../img/bullets/receipt--arrow.png"); }

.bullet-turn,
.bullet-turn-list li {
  background-image: url("../img/bullets/ticket.png"); }

.bullet-guests,
.bullet-guests-list li {
  background-image: url("../img/bullets/users.png"); }

.bullet-tables,
.bullet-tables-list li {
  background-image: url("../img/bullets/chair.png"); }

.bullet-reservationGuests,
.bullet-reservationGuests-list li {
  background-image: url("../img/bullets/user-silhouette-question.png"); }

.bullet-reservations,
.bullet-reservations-list li {
  background-image: url("../img/bullets/clipboard-invoice.png"); }

.bullet-amount,
.bullet-amount-list li {
  background-image: url("../img/bullets/money-coin.png"); }

.bullet-expedientNum,
.bullet-expedientNum-list li {
  background-image: url("../img/bullets/document-list.png"); }

.bullet-endorsementNum,
.bullet-endorsementNum-list li {
  background-image: url("../img/bullets/document-task.png"); }

.bullet-bankAccount,
.bullet-bankAccount-list li {
  background-image: url("../img/bullets/bank.png"); }

.bullet-phone,
.bullet-phone-list li {
  background-image: url("../img/bullets/telephone-fax.png"); }

.bullet-mobile,
.bullet-mobile-list li {
  background-image: url("../img/bullets/mobile-phone.png"); }

.bullet-email,
.bullet-email-list li {
  background-image: url("../img/bullets/mail.png"); }

.bullet-weekendPlus,
.bullet-weekendPlus-list li {
  background-image: url("../img/bullets/calendar-insert.png"); }

.bullet-paymentsTotal,
.bullet-paymentsTotal-list li {
  background-image: url("../img/bullets/moneys.png"); }

.bullet-catering,
.bullet-catering-list li {
  background-image: url("../img/bullets/plate-cutlery.png"); }

.bullet-client,
.bullet-client-list li {
  background-image: url("../img/bullets/building-old.png"); }

.bullet-workType,
.bullet-workType-list li {
  background-image: url("../img/bullets/notebook--pencil.png"); }

.bullet-rooms,
.bullet-rooms-list li {
  background-image: url("../img/bullets/border-inside.png"); }

.bullet-pdf,
.bullet-pdf-list li {
  background-image: url("../img/bullets/pdf.png");
  font-weight: 700; }

.bullet-help,
.bullet-help-list li {
  background-image: url("../img/bullets/question-button.png");
  font-weight: 700; }

/* @end */
/* @group Hide elements */
/* for image replacement */
.ir,
.logoCoiig a {
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
   Updated to ensure no other style overrides the styles defined in this rule */
.visuallyhidden,
.personalDataform .imageUpload .main label {
  border: 0 !important;
  clip: rect(0 0 0 0);
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* @end */
/* @group .clearfix */
/* CLEARFIX: j.mp/phayesclearfix */
.clearfix:after,
#container:after,
.personalDataBlock:after,
.roomThumb:after,
.toolsBlock:after,
#header:after,
#header .userMenu:after,
.serviceThumb:after,
.featuredServiceThumb:after,
.personalDataform .imageUpload:after,
.formActions:after,
.fieldsetCont:after,
.datePagination:after,
.toolThumb:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix,
#container,
.personalDataBlock,
.roomThumb,
.toolsBlock,
#header,
#header .userMenu,
.serviceThumb,
.featuredServiceThumb,
.personalDataform .imageUpload,
.fieldsetCont,
.datePagination,
.toolThumb {
  zoom: 1; }

/* @end */
/* @end */
/* @group Browser specific styles */
/* Poner "inline" todos los elementos dispuestos en "inline-block" */
html.ie6 #header .userMenu a,
html.ie7 #header .userMenu a,
html.ie6 .paymentsBox .bullet-date,
html.ie7 .paymentsBox .bullet-date,
html.ie6 .polaroid,
html.ie7 .polaroid,
html.ie6 .note,
html.ie7 .note
html.ie6 .paymentThumb,
html.ie7 .paymentThumb,
html.ie6 .fieldsetTitle,
html.ie7 .fieldsetTitle,
html.ie6 .visaThumb .status,
html.ie7 .visaThumb .status,
html.ie6 .reportThumb .download,
html.ie7 .reportThumb .download,
html.ie6 .bookingThumb,
html.ie7 .bookingThumb,
html.ie6 .bookingThumb .date,
html.ie7 .bookingThumb .date,
html.ie6 .roomRentingThumb,
html.ie7 .roomRentingThumb,
html.ie6 .roomRentingThumb .date,
html.ie7 .roomRentingThumb .date,
html.ie6 .toolThumb,
html.ie7 .toolThumb,
html.ie6 .bookingFormErnio .table .status,
html.ie7 .bookingFormErnio .table .status,
html.ie6 .pendingRental,
html.ie7 .pendingRental,
html.ie6 .toolPhoto,
html.ie7 .toolPhoto,
html.ie6 .insuranceThumb,
html.ie7 .insuranceThumb,
html.ie6 .serviceThumb,
html.ie7 .serviceThumb,
html.ie6 .roomRentingThumb,
html.ie6 .eventThumb,
html.ie7 .eventThumb,
html.ie6 .eventThumb .date,
html.ie7 .eventThumb .date,
html.ie6 .courseThumb,
html.ie7 .courseThumb,
html.ie6 .courseThumb .date,
html.ie7 .courseThumb .date,
html.ie6 collaborationThumb,
html.ie7 collaborationThumb,
html.ie6 donationThumb,
html.ie7 donationThumb,
html.ie6 #header .userMenu li,
html.ie7 #header .userMenu li {
  display: inline; }

/* @end */
.descargas {
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  margin: 15px 0px 15px 0px;
  padding: 20px 20px 20px 20px;
  vertical-align: top;
  width: 100%; }

.descargas tr td {
  font-weight: bold;
  border-bottom: thin dotted black; }

.descargas tr td.nombre {
  width: 600px; }

#content .wp-event {
  background: white;
  padding: 15px 40px;
  border: 1px solid #ddd; }
  #content .wp-event .wp-event-content::before, #content .wp-event .wp-event-content::after {
    content: ' ';
    display: table; }
  #content .wp-event .wp-event-content::after {
    clear: both; }
  #content .wp-event h1 {
    font-size: 24px;
    margin: -15px -40px 30px;
    padding: 20px 40px;
    letter-spacing: -0.008em;
    border-top: none;
    border-bottom: 1px solid #ddd;
    line-height: 1.25; }
    #content .wp-event h1 ul {
      margin: 0;
      font-size: 14px; }
      #content .wp-event h1 ul li {
        list-style: none;
        line-height: 1.25; }
        #content .wp-event h1 ul li span {
          font-weight: normal; }
  #content .wp-event .wp-event-subtitle {
    display: block;
    margin: 15px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #6B6B6B; }
  #content .wp-event h2 {
    font-size: 21px;
    letter-spacing: -.02rem;
    color: #63ae41; }
  #content .wp-event h3 {
    font-size: 18px;
    letter-spacing: -.02rem; }
  #content .wp-event h4, #content .wp-event h5, #content .wp-event h6 {
    font-size: 16px; }
  #content .wp-event .wp-event-content-thumbnail {
    max-width: 50%;
    margin: 0 0 1rem 1rem;
    float: right;
    box-shadow: 0 0 0 1px #ddd; }
  #content .wp-event p,
  #content .wp-event li,
  #content .wp-event a {
    line-height: 24px; }
  #content .wp-event dl, #content .wp-event ol, #content .wp-event ul {
    margin-left: 20px; }
    #content .wp-event dl li, #content .wp-event ol li, #content .wp-event ul li {
      list-style-position: outside;
      margin-bottom: 0; }
  #content .wp-event ol li {
    list-style-type: decimal; }
  #content .wp-event ul li {
    list-style-type: disc; }
  #content .wp-event .courseInscriptionForm .fieldset {
    margin-bottom: 20px; }

.wp-event-description-toggle {
  margin-bottom: 0;
  position: relative; }
  .wp-event-description-toggle a {
    display: block;
    padding: 20px 40px;
    margin: -30px -40px -15px;
    font-weight: bold; }
    .wp-event-description-toggle a:hover {
      background-color: #f7f7f7; }
    .wp-event-description-toggle a:after {
      display: inline-block;
      position: absolute;
      right: 12px;
      color: #5eb935; }
  .wp-event-description-toggle #more {
    color: #333; }
    .wp-event-description-toggle #more:hover {
      color: #63ae41; }
    .wp-event-description-toggle #more:after {
      content: '+'; }
  .wp-event-description-toggle #less {
    margin-bottom: 30px;
    color: #b9b9b9; }
    .wp-event-description-toggle #less:after {
      content: '-'; }

.formularios-inscripcion-not-logged {
  background: white;
  padding: 15px 40px;
  border: 1px solid #ddd; }

/* @group Eventos y Cursos */
.eventThumb,
.courseThumb {
  border-top: 5px solid #63ae41;
  padding-top: 20px !important; }

.pendingEventsBlock h2,
.pendingCoursesBlock h2 {
  font-weight: 400; }

.pendingEvents, .pendingCourses {
  margin: 0; }

.pendingEvent h3, .pendingCourse h3 {
  font-size: 18px; }

.pendingEvents, .pendingCourses {
  border-top: 1px dotted #666; }

.pendingEvent, .pendingCourse {
  border-bottom: 1px dotted #666;
  margin: 0;
  padding: 8px; }

#content .pendingEvent, #content .pendingCourse {
  list-style: none !important;
  list-style-type: none !important; }

.pendingEvent a, .pendingCourse a {
  font-weight: 700; }

.courseInscriptionForm label {
  width: 110px; }

.courseInscriptionForm button {
  margin-left: 130px; }

.eventInscriptionForm label {
  width: 160px; }

.eventInscriptionForm button {
  margin-left: 177px; }

.listado-eventos .eventThumb,
.listado-eventos-inscripciones .eventThumb {
  margin: 10px 0;
  width: inherit;
  display: block;
  border-top: none;
  padding: 15px 20px 0 !important;
  text-shadow: none;
  transition: all .2s ease; }

.listado-eventos-inscripciones .eventThumb {
  box-shadow: 5px 0 #206177 inset; }

.listado-eventos .eventThumb {
  box-shadow: 5px 0 #63ae41 inset; }

.listado-eventos.not-logged .eventThumb {
  box-shadow: 3px 0 #206177 inset; }

.listado-eventos:not(.not-logged) .eventThumb:hover {
  cursor: pointer;
  box-shadow: 7px 0 #63ae41 inset; }

.listado-eventos:not(.not-logged) .eventThumb:hover .evento-titulo {
  color: #63ae41; }

.evento-titulo {
  list-style: none !important;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px; }

.evento-horario {
  color: #666; }

.evento-horario:before {
  display: inline;
  content: '// '; }

.evento-horario:empty {
  display: none; }

/* @end */

/*# sourceMappingURL=screen.css.map */
